[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "themes/vitae"]
	path = themes/vitae
	url = https://github.com/dataCobra/hugo-vitae
